# Starter pipeline
trigger:
- master

pool:
  vmImage: 'ubuntu-latest'

steps:
- script: echo Hello, world!
  displayName: 'Run a one-line script'
- checkout: self
  clean: true

  
- task: PowerShell@2
  inputs:
    filePath: '/Scripts/RunInHomolog.ps1'