# Starter pipeline


trigger:
- master

pool:
  vmImage: 'ubuntu-latest'

steps:
- checkout: self
  clean: true

  
- task: PowerShell@2
  inputs:
    filePath: $(System.DefaultWorkingDirectory)/Scripts/Powershell/RunInHomolog.ps1